@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   font-family: Montserrat, sans-serif;
   font-weight: 300;
   color: #ff8c00;
	

}

/* headings and logo */

header {
    height: 650px;
    background-image: url('../images/imgheader1.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.header-content h1, h2 {
    font-family: Oswald, sans-serif;
    color: #ff8c00;
}

#logo {
    font-size: 400%;
}



/* navigation links */

#menu {
    font-size: 120%;
    font-weight: bold;
}


#menu {
    line-height: 75px;
}

#menu li {
	float: right;
	list-style-type: none;
	margin-right: 30px;
}

#menu a {
	text-decoration: none;
	color: inherit;
}

#menu a:hover {
	border-bottom: 1px solid #ff8c00;

}


